@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    height: 360px; 
    padding: 16px;
    border-radius: 16px;
    background: white;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 4px;
    overflow: hidden; 

    cursor: pointer;
}

.product-title {
    font-size: 16px;
    font-weight: 600;
    color: #111;
    margin-bottom: 4px;
    text-align: center;
}

.product-image {
    width: 160px;
    height: 120px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 8px;
}

.product-description {
    font-size: 13px;
    color: #444;
    text-align: center;
    margin-bottom: 6px;
    height: 34px; /* fixo para não passar do espaço */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.product-price {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}

.product-button {
    background-color: #e0ebff;
    color: #2962ff;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;

    /* Remover o outline padrão */
    outline: none;
}

/* Hover */
.product-button:hover {
    background-color: #c7dfff;
}

/* Focus - acessibilidade e estilo agradável */
.product-button:focus {
    outline: none;
}



.product-card:hover .product-description {
    color: #2962ff; 
}
